%ul.nav.navbar-nav.navbar-right
  %li
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        Settings
        %b.caret
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Edit Account
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider
        %li
          %a{:href => "#"} Separated link
  %li
    %a{:href => "#"} Sign Out
  %li
    %a{:href => "#"} Sign Up
  %li
    %a{:href => "#"} Sign In
