%nav.navbar.navbar-youtube{:role => "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => root_path, :style => 'padding: 7px 15px'}
      = icon('youtube', class: 'fa-2x fa-fw')
  / Collect the nav links, forms, and other content for toggling
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %form.navbar-form.navbar-left{:role => "search"}
      .form-group
        %input.form-control{:placeholder => "Search", :type => "text", :style => 'width:42rem;'}/
      %button.btn.btn-default{:type => "submit"}
        = icon ('search')
    = render 'nav_auth'
  / /.navbar-collapse
